header {
    --_hover-duration: 300ms;
    --color-shadow-1: var(--color-contrast-1);
    --color-shadow-2: var(--color-contrast-1);
    --color-border-1: var(--color-contrast-1);
    --color-border-2: var(--color-contrast-1);
    --color-border-3: var(--color-contrast-1);

    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    /* overflow-x: hidden; */
    width: 100%;
    min-height: 100vh;
}

.header-text-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 120rem;
    padding: 2rem;
}

@media screen and (max-width: 1100px) {
    .header-text-container {
        justify-content: center;
    }
}

.title-wrapper {
    position: relative;

    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2em 2rem 3em;
}
